<mat-toolbar color="primary"
  ><span>Smit Patel</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" [routerLink]="['/about']">
    About
  </button>
  &nbsp;
  <button mat-raised-button color="primary" [routerLink]="['/experience']">
    Experience
  </button>
  &nbsp;
  <button mat-raised-button color="primary" [routerLink]="['/skills']">
    Skills
  </button>
  &nbsp;
  <button mat-raised-button color="primary" [routerLink]="['/academics']">
    Academics
  </button>
  &nbsp;
  <button mat-raised-button color="primary" [routerLink]="['/resume']">
    Resume
  </button>
</mat-toolbar>
